asn1crypto==0.22.0
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
cryptography==2.0.3
cycler==0.10.0
enum34==1.1.6
functools32==3.2.3.post2
idna==2.6
ipaddress==1.0.18
mercurial==4.3.3
pycparser==2.18
pygobject==3.24.1
pyOpenSSL==17.2.0
pyportmidi==0.0.7
PySocks==1.6.7
python-dateutil==2.6.0
requests==2.18.4
selenium==3.6.0
six==1.10.0
subprocess32==3.2.7
TBB==0.1
urllib3==1.24.2
